  <% if(courseCat.length != 0){ %>
  <!-- Page header -->
  <div class="py-4 py-lg-6 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div>
            <h1 class="text-white mb-1 display-4"><%= courseCat[0].category %> Courses</h1>
            <p class="mb-0 text-white lead">6,979,934 students are learning <%= courseCat[0].category %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="py-6">
    <div class="container">
      <div class="row mb-6">
        <div class="col-md-12">
          <!-- Nav -->
          <ul class="nav nav-lb-tab mb-6" id="tab" role="tablist">
            <li class="nav-item ms-0" role="presentation">
              <a class="nav-link active" id="most-popular-tab" data-bs-toggle="pill" href="#most-popular" role="tab"
                aria-controls="most-popular" aria-selected="true">The Courses </a>
            </li>
          
          </ul>
          <!-- Tab Content -->
          <div class="tab-content" id="tabContent">
            <!-- Tab Pane -->
            <div class="tab-pane fade show active" id="most-popular" role="tabpanel" aria-labelledby="most-popular-tab">
              <div class="row">
                <% for (let ele in courseCat) { %>
                <div class="col-lg-3 col-md-6 col-12">
                  <!-- Card -->
                  
                  <div class="card  mb-4 card-hover">
                    <a href="#" class="card-img-top"><img src="/assets/images/course/course-javascript.jpg" alt=""
                        class="card-img-top rounded-top-md"></a>
                    <!-- Card body -->
                    <div class="card-body">
                      <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" class="text-inherit"><%= courseCat[ele].name %></a></h3>
                      <ul class="mb-3  list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1"></i>3h 56m
                        </li>
                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                            </rect>
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                            </rect>
                          </svg>Beginner </li>
                      </ul>
                      <div class="lh-1">
                        <span>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning"></i>
                        </span>
                        <span class="text-warning">4.5</span>
                        <span class="fs-6 text-muted">(9,300)</span>
                      </div>
                    </div>
                    <!-- Card Footer -->
                    <div class="card-footer">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="/assets/images/avatar/avatar-3.jpg" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span><%= courseCat[ele].instructor %></span>
                        </div>
                        <div class="col-auto">
                        <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <!-- Card -->
                <div class="col-lg-3 col-md-6 col-12">
                  <div class="card  mb-4 card-hover">
                    <a href="#" class="card-img-top"><img src="/assets/images/course/course-javascript.jpg" alt=""
                        class="card-img-top rounded-top-md"></a>
                    <!-- Card Body -->
                    <div class="card-body">
                      <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" class="text-inherit">Morden JavaScript
                          Beginner Tutorial -
                          Simple</a></h3>
                      <ul class="mb-3  list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m
                        </li>
                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE">
                            </rect>
                          </svg>Advance </li>
                      </ul>
                      <div class="lh-1">
                        <span>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning"></i>
                        </span>
                        <span class="text-warning">4.5</span>
                        <span class="fs-6 text-muted">(7,800)</span>
                      </div>
                    </div>
                    <!-- Card Footer -->
                    <div class="card-footer">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="/assets/images/avatar/avatar-2.jpg" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span>Ted Hawkins</span>
                        </div>
                        <div class="col-auto">
                        <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <!-- Card -->
                  <div class="card  mb-4 card-hover">
                    <a href="#" class="card-img-top"><img src="/assets/images/course/course-javascript.jpg" alt=""
                        class="card-img-top rounded-top-md"></a>
                    <!-- Card Body -->
                    <div class="card-body">
                      <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" class="text-inherit">Applying JavaScript
                          and using the console.</a>
                      </h3>
                      <!-- List inline -->
                      <ul class="mb-3 list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1"></i>1h 30m
                        </li>
                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                            </rect>
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                            </rect>
                          </svg>Beginner </li>
                      </ul>
                      <div class="lh-1">
                        <span>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning"></i>
                        </span>
                        <span class="text-warning">4.5</span>
                        <span class="fs-6 text-muted">(8,245)</span>
                      </div>
                    </div>
                    <!-- Card Footer -->
                    <div class="card-footer">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="/assets/images/avatar/avatar-4.jpg" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span>Juanita Bell</span>
                        </div>
                        <div class="col-auto">
                        <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <!-- Card -->
                  <div class="card  mb-4 card-hover">
                    <a href="#" class="card-img-top"><img src="/assets/images/course/course-javascript.jpg" alt=""
                        class="card-img-top rounded-top-md"></a>
                    <!-- Card body -->
                    <div class="card-body">
                      <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" class="text-inherit">Creating functions,
                          using them, passing data in
                          and out.</a></h3>
                      <!-- list inline -->
                      <ul class="mb-3  list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 30m
                        </li>
                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                            </rect>
                          </svg>Intermediate </li>
                      </ul>
                      <div class="lh-1">
                        <span>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning"></i>
                        </span>
                        <span class="text-warning">4.5</span>
                        <span class="fs-6 text-muted">(3,245)</span>
                      </div>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="/assets/images/avatar/avatar-5.jpg" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span>Claire Robertson</span>
                        </div>
                        <div class="col-auto">
                        <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
     
    
  
     
    </div>
  </div>
<% }else{ %>
    <div class="py-4 py-lg-6 bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div>
                <h1 class="text-white mb-1 display-4">No Course</h1>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>