<% 
const ids =['sliderFirstControls', 'sliderSecondControls', 'sliderThirdControls'];
const position = ['pt-lg-12 pb-lg-3 pt-8 pb-6', 'pb-lg-3 pt-lg-3', 'pb-lg-8 pt-lg-3 py-6'];
const klas = ['sliderFirst','sliderSecond','sliderThird'];
var loop = 0;
for(let cate in cat){ %>
<div class="<%= position[loop] %>">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="mb-0"><%= cat[cate] %></h2>
            </div>
        </div>
        <div class="position-relative">
            <ul class="controls " id="<%= ids[loop] %>">
                <li class="prev">
                    <i class="fe fe-chevron-left"></i>
                </li>
                <li class="next">
                    <i class="fe fe-chevron-right"></i>
                </li>
            </ul>
            <div class="<%= klas[loop] %>">
                <% for(let courseDetails in courses) {
                    if (courses[courseDetails].category == cat[cate]) {
                    %>
                <div class="item">
                    <!-- Card -->
                    <div class="card  mb-4 card-hover">
                        <a href="/course/<%= courses[courseDetails]._id %>" class="card-img-top"><img src="/assets/images/course/course-html.jpg" alt="" class="rounded-top-md card-img-top"></a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 "><a href="/course/<%= courses[courseDetails]._id %>" class="text-inherit"><%= courses[courseDetails].name %></a></h4>
                            <!-- List -->
                            <ul class="mb-3 list-inline">
                                <li class="list-inline-item"><i class="far fa-clock me-1"></i>3h 56m</li>
                                <li class="list-inline-item">
                                    <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                </svg> Beginner
                                </li>
                            </ul>
                            <div class="lh-1">
                                <span>
                <i class="mdi mdi-star text-warning me-n1"></i>
                <i class="mdi mdi-star text-warning me-n1"></i>
                <i class="mdi mdi-star text-warning me-n1"></i>
                <i class="mdi mdi-star text-warning me-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
                                <span class="text-warning">4.5</span>
                                <span class="fs-6 text-muted">(7,700)</span>
                            </div>
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">$<%= courses[courseDetails].price %></span>
                                <del class="fs-6 text-muted">$<%= parseInt(courses[courseDetails].price) + 25 %></del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                        <div class="card-footer">
                            <div class="row align-items-center g-0">
                                <div class="col-auto">
                                    <img src="/assets/images/avatar/avatar-1.png" class="rounded-circle avatar-xs" alt="">
                                </div>
                                <div class="col ms-2">
                                    <span><%= courses[courseDetails].instructor %></span>
                                </div>
                                <div class="col-auto ">
                                    <a href="/user/enroll/<%= courses[courseDetails]._id %>" class="enrollBtn <%= courses[courseDetails]._id %>">
                                        <button class="btn btn-xs btn-outline-primary enrollBtn <%= courses[courseDetails]._id %>">Enroll</button></a>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }} %>
                
             
                
             
           
            </div>
        </div>
    </div>
</div>


<% loop += 1; } %>