<div class="bg-primary">
    <div class="container">
        <!-- Hero Section -->
        <div class="row align-items-center g-0">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="py-5 py-lg-0">
                    <h1 class="text-white display-4 fw-bold">Welcome to Join Learning Application
                    </h1>
                    <p class="text-white-50 mb-4 lead">
                        This Platform build by John and Innocent is designed for anyone who wants to learn great contents.
                    </p>
                    <!-- <a href="pages/course-filter-list.html" class="btn btn-success">Browse Courses</a>
                    <a href="pages/sign-in.html" class="btn btn-white">Are You Instructor?</a> -->
                </div>
            </div>
            <div class=" col-xl-7 col-lg-6 col-md-12 text-lg-end text-center">
                <img src="/assets/images/png/main_cover.png" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>